---
layout: default
---

<div class="post">
  <div class="container main">
    <div class="row">
      <header>
        <center><span itemprop="name"><h1>{{ page.title }}</h1></span></center>
        <center><p>{{ page.date | date: "%-d %b %Y" }}</p></center>
      </header>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 col-offset-1" style="width:70%">
        <article lang="en">
          {{ content }}
          {% for post in site.posts %}
                {% assign excerpt_text = post.excerpt | strip_html | strip_newlines %}
                {% assign sentences = excerpt_text | split: ". " %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{ post.date | date: "%-d %b %Y" }}</small></p>
                <p> {% if sentences.size > 2 %}{{ sentences | slice: 0, 2 | join: ". " }}...{% else %}{{ excerpt_text }}{% endif %} </p>
          {% endfor %}
        </article>
	     </div>
     </div>
  </div>
</div>
